profiles {
    azure {
        process.executor = 'azurebatch'
        
        azure {
            batch {
                azure.batch.accountName = 'your_batch_account_name'
                azure.batch.accountKey = 'your_account_key'
                poolId = 'pool_id'
                location = 'region'
                autoPoolMode = true
                endpoint = 'your_endpoint'
            }
            
            storage {
                accountName = 'your_blob_account_name'
                accountKey = 'account_key'
                endpoint = 'endpoint' // Add this line
            }
        }
        
        workDir = 'az://nextflow-work'
        params {
            dataDir = 'az://nextflow-data'
            outputDir = 'az://nextflow-output'
        }
    }
}
